*{
    font-family: 'Courier New';
}


  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');

  body{
    font-family: 'Playfair Display', serif;
}

header{
    display: flex;
    justify-content: center;
    margin: 0px 0px;
    font-family: 'Playfair Display', serif;

}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

nav ul{
    list-style-type: none;
}

#ul-image{
    flex-grow: 1;
}

#ul-links{
    flex-grow: 10;
    display: flex;
    justify-content: space-around;
}

#ul-links li a{
    text-decoration: none;
    color: white;
}

#ul-links li a:hover{
    color: lightsalmon;
}

#logo{
    width: 100%;
    border-radius: 45px;
}

#logo-div{
    width: 40px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}

#main{
    margin: 0px 100px;
}

@media screen and (max-width: 650px) {
.column {
    width: 100%;
    display: block;
    }
#main{
    margin: 0px 5px;
    }
}

.content-div{
    background-color: white;
    padding: 10px 30px;
    border-radius: 3px;
    margin-bottom: 30px;
}

.articles{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.articles div{
    padding: 3px 10px;
}

#article-linux{
    display: flex;
    justify-content: center;

}

#article-linux div{
    flex-grow: 1;
    padding: 10px;
}

#article-linux img{
    width: 100%;
}

footer{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
}

footer div{
    width: 70%;
    text-align: center;
    color: white;
}

table{
    border: 1px solid gray;
    border-collapse: collapse;
    margin-bottom: 10px;
}

th, td{
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
}

#table-header{
    color: lightsalmon;
    text-align: center;
}

.h2-header{
    color: lightsalmon;
    text-align: center;
}




/* About us */
#aboutUs{
    display: flex;
}

@media (max-width: 800px) {
    #aboutUs {
      flex-direction: column;
    }
  }

.bg-image-home{
    background-image: url("images/oil1.webp");
    background-color: rgba(0, 0, 0, 0.5); 
    background-size: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 100%;
}



/* x styles */
.bg-image-x{
    background-image: url("images/oil5.jpg");
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}


.brief-desc{
    padding: 70px 50px;
    display: flex;
}

@media (max-width: 800px) {
    .brief-desc {
      flex-direction: column;
    }
  }

.brief-desc-div{
    flex-basis: 50%;
    color: white;
}

.brief-desc-div-right{
    padding: 20px;
    border: 1px solid white;
    background: black;
    opacity: 0.6;
    color: white;
    border-radius: 10px;
}

.brief-desc-div-right p{
    margin: 20px 0px;
    font-family: Cambria;
}


/** footer code */
.footer {
    background-color: rgb(35, 34, 34);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
  }
  
  .footer-column {
    flex-basis: 30%;
    max-width: 30%;
    margin-bottom: 20px;
    margin-top: 40px;
    border-left: 2px solid white;
  }

  @media (max-width: 800px) {
    .footer-container {
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .footer-column {
        flex-basis: 100%;
        max-width: 100%;
        padding-left: 20px;
        text-align: center;
    }
  }
  
  .footer-column h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footer-column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-column li {
    margin-bottom: 5px;
  }
  
  .footer-column a {
    color: white;
    text-decoration: none;
  }
  
  .footer-column a:hover {
    text-decoration: underline;
  }
  